{% extends "base.html" %}
{% block title %} Creating New products {% endblock %}
{% block content %}

<form action="/products" method="POST">

    Banner:<br>
    <input type="text" name="banner" >
    <br>

    Name:<br>
    <input type="text" name="name" >
    <br>

    Is_feature:<br>
    <input type="text" name="is_feature" >
    <br>

    Priority:<br>
    <input type="text" name="priority" >
    <br>

    Price:<br>
    <input type="text" name="price" >
    <br>

    Categori_id:<br>
    <input type="text" name="categori_id" >
    <br>

     Discount:<br>
    <input type="text" name="discount" >
    <br>

    <pre> <button type="submit"> Submit </button> </pre>

</form>
{% endblock %}