{% extends "base.html" %}
{% block title %} Edit Company Branch {% endblock %}
{% block content %}

<form action="/company_branches/{{ company_branch['id']  }}" method="POST">

   Company name:<br>
    <input type="text" name="company name" >
    <br>

    Branch name:<br>
    <input type="text" name="branch name" >
    <br>

    Address:<br>
    <input type="text" name="address" >
    <br>

    Is active:<br>
    <input type="text" name="is active" >
    <br>

    <pre> <button type="submit"> Submit </button> </pre>

</form>
{% endblock %}